Django==1.7.0

dj-database-url==0.3.0
psycopg2==2.5.4
project-runpy==0.3.1
requests==2.4.1
django-choices==1.3
DjangoRestless==0.0.9

# Things for dev
django-extensions==1.4.0
factory-boy==2.4.1
names==0.3.0
csvkit==0.9.0
