{% extends "tx_lobbying/base.html" %}
{% load intcomma from humanize %}

{% block head_title %}Addresses{% endblock %}


{% block main %}
  <h1><i class="fa fa-building"></i> All Addresses</h1>
  <ul class="addresses">
    {% for address in object_list %}
      <li>
        <a href="{{ address.get_absolute_url }}">
          {{ address }}
          {% if address.coordinate %}<i class="fa fa-crosshairs"></i>{% endif %}</a>
        {% with aliases=address.aliases.all %}
          {% if aliases %}
            <ul class="aliases">
              {% for address in aliases %}
                <li>
                  <a href="{{ address.get_absolute_url }}">
                    {{ address }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
  <aside>
    <h2>Coordinates Geocoded</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Quality Code</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        {% for row in view.coordinate_quality %}
          <tr>
            <td class="align-center">{{ row.coordinate_quality }}</td>
            <td class="align-right">{{ row.pk__count|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </aside>
{% endblock %}
