{% extends "boilerplate.html" %}


{% block head_title %}Explore the Data{% endblock %}


{% block content %}
  <div class="page-content">
    {% include "tx_lobbying/includes/nav.html" %}
    <div class="site-nav">
      {% block nav %}{% endblock %}
    </div>
    {% block main %}{% endblock %}
  </div>
  {% if GA_TRACKING_ID %}
    {# https://gist.github.com/rdmurphy/d9d212ad3e783680b9e2 #}
    <script>
      (function(c,o,r,g,i,s){c.GoogleAnalyticsObject=g;c[g]||(c[g]=
      function(){(c[g].q=c[g].q||[]).push(arguments)});c[g].g=+new Date;
      i=o.createElement(r);s=o.getElementsByTagName(r)[0];
      i.src='//www.google-analytics.com/analytics.js';
      s.parentNode.insertBefore(i,s)}(window,document,'script','ga'));
      ga('create','{{ GA_TRACKING_ID }}');ga('send','pageview');
    </script>
  {% endif %}
{% endblock %}
