{% extends "tx_lobbying/base.html" %}
{% load humanize %}

{% block head_title %}{{ object }}{% endblock %}

{% block main %}
  <h1>
    <i class="fa fa-suitcase"></i>
    {{ object.name }}{% if object.address.state %} ({{ object.address.state }}){% endif %}
    {% if object.nomenklatura_id %}
      <a href="{{ object.nomenklatura_review_url }}" target="_blank"><i class="fa fa-cube"></i></a>
    {% endif %}
  </h1>
  {% if object.canonical %}
    <p>
      {{ object.name }} is an alias of <a href="{{ object.canonical.get_absolute_url }}">{{ object.canonical }}</a>
    </p>
  {% endif %}
  {% if aliases %}
    <h3>Aliases</h3>
    <p>
      Interests are entered by hand, typos and all. To give more realistic
      numbers, these interests were combined to make this page:
    </p>
    <ul>
      {% for alias in aliases %}
        <li>
          <a href="{{ alias.get_absolute_url }}">{{ alias.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <section>
    <h2>
      <i class="fa fa-building"></i>
      Address
    </h2>
    {{ object.address.as_adr }}
    <p>
      <a href="{{ object.address.get_absolute_url }}">link</a>
    </p>
    <p>
      All addresses that have been listed:
    </p>
    <div class="row map-many">
      <div class="cell w-6">
        <ul>
          {% for address in object.address_set_massive %}
            <li>
              <a href="{{ address.get_absolute_url }}">
                {{ address }}
                {% if address.coordinate %}<i class="fa fa-crosshairs"></i>{% endif %}
              </a>
              {% include "tx_lobbying/includes/address_geo.html" with object=address %}
            </li>
          {% empty %}
            <li><em>None</em></li>
          {% endfor %}
        </ul>
      </div>
      <div class="cell w-6">
        <div class="map"></div>
      </div>
    </div>
  </section>

  <section>
    <h2><i class="fa fa-money"></i> Compensation</h2>
    {% if object.canonical %}
      <p>
        Please see the record for
        <a href="{{ object.canonical.get_absolute_url }}">{{ object.canonical }}</a>
      </p>
    {% else %}
      <ul>
        {% for annum in object.stats.all %}
          <li>
            In {{ annum.year }}, they spent between ${{ annum.low|intcomma }}
            and ${{ annum.high|intcomma }} on {{ annum.lobbyist_count }} lobbyists.
          </li>
        {% empty %}
          <li><em>None</em></li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>

  <section>
    <h2><i class="fa fa-user"></i> Lobbyists</h2>
    <ul>
      {% regroup compensation_set by annum.lobbyist as comp_years %}
      {% for lobbyist in comp_years %}
        <li>
          <a href="{{ lobbyist.grouper.get_absolute_url }}">{{ lobbyist.grouper }}</a>
          {% for comp in lobbyist.list %}
            {{ comp.annum.year }}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
