{% extends "tx_lobbying/base.html" %}

{% block head_title %}Interests{% endblock %}


{% block main %}
  <h1>All Interests</h1>
  {# this grouping might be better done with regroup or client side #}
  <ul>
    {% for interest in object_list %}
      <li>
        <a href="{{ interest.get_absolute_url }}" class="interest-name">{{ interest.name }}</a>
        {% with aliases=interest.aliases.all %}
          {% if aliases %}
            <br>
            <b>Aliases:</b>
            <ul>
              {% for interest in aliases %}
                <li>
                  <a href="{{ interest.get_absolute_url }}" class="interest-name">{{ interest.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
