{% extends "tx_lobbying/base.html" %}
{% load intcomma from humanize %}
{% load currency from tx_lobbying %}

{% block head_title %}Landing{% endblock %}

{% block extra_style %}{{ block.super }}
  <style>
  </style>
{% endblock %}


{% block main %}
  <nav>
    <a href="{% url 'tx_lobbying:lobbyist_list' %}">All Lobbyists</a>
    <a href="{% url 'tx_lobbying:interest_list' %}">All Interests</a>
  </nav>
  <p>To find big spenders, pick a year:</p>
  <section>
    <h2>Total Spent</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Total</th>
          <th class="extrainfo">Transportation</th>
          <th class="extrainfo">Food</th>
          <th class="extrainfo">Entertainment</th>
          <th class="extrainfo">Gifts</th>
          <th class="extrainfo">Awards</th>
          <th class="extrainfo">Events</th>
          <th class="extrainfo">Mass Media</th>
          <th class="extrainfo"># Registered</th>
          <th class="extrainfo"># Spent</th>
          <th class="extrainfo">Coversheet Count</th>
          <th class="extrainfo">w/ details</th>
        </tr>
      </thead>
      <tbody>
        {% for row in spending_summary %}
          <tr>
            <td><a href="{% url 'tx_lobbying:year_landing' year=row.year %}">{{ row.year }}</a></td>
            <td class="">{{ row.spent_guess__sum|currency }}</td>
            <td class="extrainfo">{{ row.transportation__sum|currency }}</td>
            <td class="extrainfo">{{ row.food__sum|currency }}</td>
            <td class="extrainfo">{{ row.entertainment__sum|currency }}</td>
            <td class="extrainfo">{{ row.gifts__sum|currency }}</td>
            <td class="extrainfo">{{ row.awards__sum|currency }}</td>
            <td class="extrainfo">{{ row.events__sum|currency }}</td>
            <td class="extrainfo">{{ row.media__sum|currency }}</td>
            <td class="extrainfo">{{ row.registered|intcomma }}</td>
            <td class="extrainfo">{{ row.spent_anything|intcomma }}</td>
            <td class="extrainfo">{{ row.pk__count|intcomma }}</td>
            <td class="extrainfo">{{ row.itemized|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2>Total Itemized Spent</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Total</th>
          <th>Count</th>
          <th class="extrainfo">Food</th>
          <th class="extrainfo">(count)</th>
          <th class="extrainfo">Entertainment</th>
          <th class="extrainfo">(count)</th>
          <th class="extrainfo">Gifts</th>
          <th class="extrainfo">(count)</th>
          <th class="extrainfo">Awards</th>
          <th class="extrainfo">(count)</th>
        </tr>
      </thead>
      <tbody>
        {% for year, data in itemized %}
          <tr>
            <td><a href="{% url 'tx_lobbying:year_landing' year=year %}">{{ year }}</a></td>
            <td class="">{{ data.total.sum|currency }}</td>
            <td class="">{{ data.total.count|intcomma }}</td>
            <td class="extrainfo">{{ data.food.sum|currency }}</td>
            <td class="extrainfo">{{ data.food.count|intcomma }}</td>
            <td class="extrainfo">{{ data.entertainment.sum|currency }}</td>
            <td class="extrainfo">{{ data.entertainment.count|intcomma }}</td>
            <td class="extrainfo">{{ data.gift.sum|currency }}</td>
            <td class="extrainfo">{{ data.gift.count|intcomma }}</td>
            <td class="extrainfo">{{ data.award.sum|currency }}</td>
            <td class="extrainfo">{{ data.award.count|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
