{% extends "tx_lobbying/base.html" %}
{% load intcomma from humanize %}
{% load currency from tx_lobbying %}

{% block head_title %}Landing{% endblock %}


{% block nav %}
  <nav>
    <a href="{% url 'tx_lobbying:lobbyist_list' %}"><i class="fa fa-user"></i> All Lobbyists</a>
    <a href="{% url 'tx_lobbying:interest_list' %}"><i class="fa fa-suitcase"></i> All Interests</a>
    <a href="{% url 'tx_lobbying:address_list' %}"><i class="fa fa-building"></i> All Address</a>
    <a href="{% url 'tx_lobbying:subject_list' %}"><i class="fa fa-book"></i> All Subjects</a>
  </nav>
{% endblock %}


{% block main %}
  <p>To find big spenders, pick a year:</p>
  <section>
    <h2>Total Spent</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="b-r">Year</th>
          <th class="b-r">Total</th>
          <th class="extrainfo"><i class="fa fa-taxi" aria-label="Transportation"></i></th>
          <th class="extrainfo"><i class="fa fa-cutlery" title="Food" aria-label="Food"></i></th>
          <th class="extrainfo"><i class="fa fa-puzzle-piece" title="Entertainment" aria-label-"Entertainment"></i></th>
          <th class="extrainfo"><i class="fa fa-gift" title="Gifts" aria-label-"Gifts"></i></th>
          <th class="extrainfo"><i class="fa fa-certificate" title="Awards" aria-label-"Awards"></i></th>
          <th class="extrainfo"><i class="fa fa-ticket" title="Events" aria-label-"Events"></i></th>
          <th class="extrainfo b-r"><i class="fa fa-youtube-play" title="Media" aria-label-"Media"></i></th>
          <th class="extrainfo"># Registered</th>
          <th class="extrainfo"># Spent</th>
          <th class="extrainfo">Coversheet<br>Count</th>
          <th class="extrainfo">w/ details</th>
        </tr>
      </thead>
      <tbody>
        {% for row in spending_summary %}
          <tr>
            <td class="b-r"><a href="{% url 'tx_lobbying:year_landing' year=row.year %}">{{ row.year }}</a></td>
            <td class="b-r">{{ row.spent_guess__sum|currency }}</td>
            <td class="extrainfo">{{ row.transportation__sum|currency }}</td>
            <td class="extrainfo">{{ row.food__sum|currency }}</td>
            <td class="extrainfo">{{ row.entertainment__sum|currency }}</td>
            <td class="extrainfo">{{ row.gifts__sum|currency }}</td>
            <td class="extrainfo">{{ row.awards__sum|currency }}</td>
            <td class="extrainfo">{{ row.events__sum|currency }}</td>
            <td class="extrainfo b-r">{{ row.media__sum|currency }}</td>
            <td class="extrainfo align-right">{{ row.registered|intcomma }}</td>
            <td class="extrainfo align-right">{{ row.spent_anything|intcomma }}</td>
            <td class="extrainfo align-right">{{ row.pk__count|intcomma }}</td>
            <td class="extrainfo align-right">{{ row.itemized|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2>Total Itemized Spent</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Total</th>
          <th>Count</th>
          <th class="extrainfo"><i class="fa fa-cutlery" title="Food" aria-label="Food"></i></th>
          <th class="extrainfo b-r">(count)</th>
          <th class="extrainfo"><i class="fa fa-puzzle-piece" title="Entertainment" aria-label-"Entertainment"></i></th>
          <th class="extrainfo b-r">(count)</th>
          <th class="extrainfo"><i class="fa fa-gift" title="Gifts" aria-label-"Gifts"></i></th>
          <th class="extrainfo b-r">(count)</th>
          <th class="extrainfo"><i class="fa fa-certificate" title="Awards" aria-label-"Awards"></i></th>
          <th class="extrainfo">(count)</th>
        </tr>
      </thead>
      <tbody>
        {% for year, data in itemized %}
          <tr>
            <td><a href="{% url 'tx_lobbying:year_landing' year=year %}">{{ year }}</a></td>
            <td class="">{{ data.total.sum|currency }}</td>
            <td class="b-r">{{ data.total.count|intcomma }}</td>
            <td class="extrainfo">{{ data.food.sum|currency }}</td>
            <td class="extrainfo align-right b-r">{{ data.food.count|intcomma }}</td>
            <td class="extrainfo">{{ data.entertainment.sum|currency }}</td>
            <td class="extrainfo align-right b-r">{{ data.entertainment.count|intcomma }}</td>
            <td class="extrainfo">{{ data.gift.sum|currency }}</td>
            <td class="extrainfo align-right b-r">{{ data.gift.count|intcomma }}</td>
            <td class="extrainfo">{{ data.award.sum|currency }}</td>
            <td class="extrainfo align-right">{{ data.award.count|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
