{% extends "tx_lobbying/base.html" %}
{% load humanize %}

{% block head_title %}Landing{% endblock %}

{% block main %}
  <nav>
    <a href="{% url 'tx_lobbying:lobbyist_list' %}">All Lobbyists</a>
    <a href="{% url 'tx_lobbying:interest_list' %}">All Interests</a>
  </nav>
  <p>To find big spenders, pick a year:</p>
  <section>
    <h2>Total Spent</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Total</th>
          <th class="extrainfo">Transportation</th>
          <th class="extrainfo">Food</th>
          <th class="extrainfo">Entertainment</th>
          <th class="extrainfo">Gifts</th>
          <th class="extrainfo">Awards</th>
          <th class="extrainfo">Events</th>
          <th class="extrainfo">Mass Media</th>
          <th class="extrainfo"># Registered</th>
          <th class="extrainfo"># Spent</th>
          <th class="extrainfo">Coversheet Count</th>
          <th class="extrainfo">w/ details</th>
        </tr>
      </thead>
      <tbody>
        {% for row in spending_summary %}
          <tr>
            <td><a href="{% url 'tx_lobbying:year_landing' year=row.year %}">{{ row.year }}</a></td>
            <td class="currency">${{ row.spent_guess__sum|floatformat:0|intcomma }}</td>
            <td class="extrainfo currrency">${{ row.transportation__sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currrency">${{ row.food__sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currrency">${{ row.entertainment__sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currrency">${{ row.gifts__sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currrency">${{ row.awards__sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currrency">${{ row.events__sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currrency">${{ row.media__sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo">{{ row.registered|intcomma }}</td>
            <td class="extrainfo">{{ row.spent_anything|intcomma }}</td>
            <td class="extrainfo">{{ row.pk__count|intcomma }}</td>
            <td class="extrainfo">{{ row.itemized|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2>Total Itemized Spent</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Total</th>
          <th class="extrainfo">Food</th>
          <th class="extrainfo">Entertainment</th>
          <th class="extrainfo">Gifts</th>
          <th class="extrainfo">Awards</th>
          <th class="extrainfo">Count</th>
        </tr>
      </thead>
      <tbody>
        {% for year, data in itemized.items %}
          <tr>
            <td><a href="{% url 'tx_lobbying:year_landing' year=year %}">{{ year }}</a></td>
            <td class="currency">${{ data.total|floatformat:0|intcomma }}</td>
            <td class="extrainfo currency">${{ data.food.sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currency">${{ data.entertainment.sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currency">${{ data.gift.sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo currency">${{ data.award.sum|floatformat:2|intcomma }}</td>
            <td class="extrainfo">{{ data.count|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
