{% extends "tx_lobbying/base.html" %}
{% load intcomma from humanize %}
{% load currency from tx_lobbying %}

{% block head_title %}{{ object }}{% endblock %}

{% block main %}
  <h1><a href="{{ object.get_absolute_url }}">{{ object }}</a></h1>
  {# TODO add TOC to quickly jump to a year #}
  <section id="coversheets" class="extrainfo">
    <h2>Cover Sheets</h2>
    {% for cover in object.coversheets.all %}
      {% include "tx_lobbying/includes/coversheet.html" with data=cover.raw_data %}
      {% if cover.details.exists %}
        <ul>
          {% for detail in cover.details.all %}
            <li>{{ detail.type }} - {{ detail.amount_guess }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </section>

{% endblock %}
