{% extends "tx_lobbying/base.html" %}
{% load intcomma from humanize %}
{% load currency from tx_lobbying %}

{% block head_title %}{{ object }}{% endblock %}

{% block main %}
  <h1><i class="fa fa-user"></i> {{ object }}</h1>
  <section>
    <h3>Name History</h3>
    <ul>
      {% for name, cover in object.get_name_history %}
        <li>
          <a href="{{ cover.get_absolute_url }}">{{ cover.report_date|date:"Y-m-d" }}</a>
          - {{ name }}
        </li>
      {% empty %}
        <li><em>None</em></li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2><i class="fa fa-building"></i> Address</h2>
    {% if object.address %}
      <a href="{{ object.address.get_absolute_url }}">
        {{ object.address.as_adr }}
      </a>
    {% endif %}
    <h3>Address History</h3>
    <ul>
      {% for address, report in object.get_address_history %}
        <li>
          {{ report.year }}
          <a href="{{ address.get_absolute_url }}">
            {{ address.as_adr }}
          </a>
        </li>
      {% empty %}
        <li><em>None</em></li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h2><i class="fa fa-suitcase"></i> Clients</h2>
    <ul>
      {% for yeardata in object.years.all %}
        <li>
          {{ yeardata.year }}
          <ul>
            {% for client in yeardata.compensation_set.all %}
              <li>
                <a href="{{ client.interest.get_absolute_url }}">
                  {{ client.interest.name|default:"TODO" }}
                </a>
                {% if client.interest.canonical %}
                  <em>(data cleaned to: <a href="{{ client.interest.canonical.get_absolute_url }}">
                    {{ client.interest.canonical.name|default:"TODO" }}
                  </a>)</em>
                {% endif %}
                ${{ client.amount_low|intcomma }} &mdash; ${{ client.amount_high|intcomma }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% empty %}
        <li><em>None</em></li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h2><i class="fa fa-bar-chart-o"></i> Stats</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="b-r">Year</th>
          <th class="b-r">Total</th>
          <th class="extrainfo"><i class="fa fa-taxi" aria-label="Transportation"></i></th>
          <th class="extrainfo"><i class="fa fa-cutlery" aria-label="Food"></i></th>
          <th class="extrainfo"><i class="fa fa-puzzle-piece" aria-label-"Entertainment"></i></th>
          <th class="extrainfo"><i class="fa fa-gift" aria-label-"Gifts"></i></th>
          <th class="extrainfo"><i class="fa fa-certificate" aria-label-"Awards"></i></th>
          <th class="extrainfo"><i class="fa fa-ticket" aria-label-"Events"></i></th>
          <th class="extrainfo b-r"><i class="fa fa-youtube-play" aria-label-"Media"></i></th>
          <th class="extrainfo">Senators</th>
          <th class="extrainfo">Representatives</th>
          <th class="extrainfo">Other</th>
          <th class="extrainfo">Legislative</th>
          <th class="extrainfo">Executive</th>
          <th class="extrainfo">Family</th>
          <th class="extrainfo">Events</th>
          <th class="extrainfo">Guests</th>
        </tr>
      </thead>
      <tbody>
        {% for stat in object.stats.all %}
          <tr>
            <td class="b-r">
              {{ stat.year }}
            </td>
            <td class="b-r">
              {{ stat.spent_guess|currency }}
            </td>
            <td class="extrainfo">{{ stat.transportation|currency }}</td>
            <td class="extrainfo">{{ stat.food|currency }}</td>
            <td class="extrainfo">{{ stat.entertainment|currency }}</td>
            <td class="extrainfo">{{ stat.gifts|currency }}</td>
            <td class="extrainfo">{{ stat.awards|currency }}</td>
            <td class="extrainfo">{{ stat.events|currency }}</td>
            <td class="extrainfo b-r">{{ stat.media|currency }}</td>
            <td class="extrainfo">{{ stat.ben_senators|currency }}</td>
            <td class="extrainfo">{{ stat.ben_representatives|currency }}</td>
            <td class="extrainfo">{{ stat.ben_other|currency }}</td>
            <td class="extrainfo">{{ stat.ben_legislative|currency }}</td>
            <td class="extrainfo">{{ stat.ben_executive|currency }}</td>
            <td class="extrainfo">{{ stat.ben_family|currency }}</td>
            <td class="extrainfo">{{ stat.ben_events|currency }}</td>
            <td class="extrainfo">{{ stat.ben_guests|currency }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section id="coversheets" class="extrainfo">
    <h2><i class="fa fa-file-o"></i> Cover Sheets</h2>
    <a href="./covers/">{{ object.coversheets.count }} Cover sheets</a>
    from
    {{ object.coversheets.earliest.year }}
    to
    {{ object.coversheets.latest.year }}
  </section>
{% endblock %}
