{% extends "tx_lobbying/base.html" %}
{% load humanize %}

{% block main %}

  <h1>{{ object }}</h1>

  <section>
    <h2>Name history</h2>
    <ul>
      {% for name, cover in object.get_name_history %}
        <li>{{ name }} ({{ cover.report_date }})</li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h2>Clients</h2>
    <ul>
      {% for yeardata in object.years.all %}
        <li>
          {{ yeardata.year }}
          <ul>
            {% for client in yeardata.compensation_set.all %}
              <li>
                <a href="{{ client.interest.get_absolute_url }}">{{ client.interest.name|default:"TODO" }}</a>
                ${{ client.amount_low|intcomma }} &mdash; ${{ client.amount_high|intcomma }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% empty %}
        <li><em>None</em></li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <h2>Cover Sheets</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Transportation</th>
          <th>Food</th>
          <th>Entertainment</th>
          <th>Gifts</th>
          <th>Awards</th>
          <th>Events</th>
          <th>Media</th>
          <th>Senators</th>
          <th>Representatives</th>
          <th>Other</th>
          <th>Legislative</th>
          <th>Executive</th>
          <th>Family</th>
          <th>Events</th>
          <th>Guests</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for cover in object.coversheets.all %}
          <tr>
            <td>{{ cover.report_date|date:"Y-m-d" }}</td>
            <td>{% if cover.transportation %}${{ cover.transportation|intcomma }}{% endif %}</td>
            <td>{% if cover.food %}${{ cover.food|intcomma }}{% endif %}</td>
            <td>{% if cover.entertainment %}${{ cover.entertainment|intcomma }}{% endif %}</td>
            <td>{% if cover.gifts %}${{ cover.gifts|intcomma }}{% endif %}</td>
            <td>{% if cover.awards %}${{ cover.awards|intcomma }}{% endif %}</td>
            <td>{% if cover.events %}${{ cover.events|intcomma }}{% endif %}</td>
            <td>{% if cover.media %}${{ cover.media|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_senators %}${{ cover.ben_senators|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_representatives %}${{ cover.ben_representatives|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_other %}${{ cover.ben_other|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_legislative %}${{ cover.ben_legislative|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_executive %}${{ cover.ben_executive|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_family %}${{ cover.ben_family|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_events %}${{ cover.ben_events|intcomma }}{% endif %}</td>
            <td>{% if cover.ben_guests %}${{ cover.ben_guests|intcomma }}{% endif %}</td>
            <td>
              {% if cover.details.exists %}
                <ul>
                  {% for detail in cover.details.all %}
                    <li>{{ detail.type }} - {{ detail.amount_guess }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
