{% extends "tx_lobbying/base.html" %}
{% load currency from tx_lobbying %}

{% block head_title %}Styleguide{% endblock %}

{% block main %}
  <h1>Styleguide</h1>

  <h2>Intro</h2>

  <div class="intro">
    <p>
      Into text shouldn't be too wide. Add the class <code>intro</code> to the
      block level container. This should also be on other prose text.
      Thus tarzan of his many unlucky things when the knight may be? Better than oysters some of their, unfathomable distance and formed from mother of putting out his hideous eyes to the minds and it should, be accepted with extreme slowness at, work they get killed what could possess any extraordinary courage? And ferocity? Have no sense in this undertaking commander farragut in person he stopped. Me harry he responded you must do the prices of these appeared to justify.</p>
    <ul>
      <li>item 1</li>
      <li>item 2</li>
    </ul>
  </div>

  <ul class="dense">
    <li>Sometimes</li>
    <li>You</li>
    <li>Need</li>
    <li>To cram a lot of text in.</li>
    <li>Use the <code>.dense</code> class</li>
    <li>for that.</li>
  </ul>

  <section>
    <h2>Lists</h2>
    <h3>Unordered List</h3>
    <ul>
      <li>item 1</li>
      <li>
        item 2
        <ul>
          <li>second level is slightly smaller</li>
        </ul>
      </li>
    </ul>
    <h3>Interest List</h3>
    <p>In the interest list, <code>interest_list.html</code>, we list aliases
      under the canonical interest:</p>
    <ul class="interests">
      <li>
        <a href="/interest/6736-att-inc/" class="interest-name">AT&amp;T, Inc.</a>
        <ul class="interests__aliases">
          <li>
            <a href="/interest/8392-att/" class="interest-name">at&amp;t</a>
          </li>
          <li>
            <a href="/interest/3139-a-t-t/" class="interest-name">A T &amp; T</a>
          </li>
          <li>
            <a href="/interest/522-att/" class="interest-name">AT&amp;T</a>
          </li>
          <li>
            <a href="/interest/5845-att-208-s-akard-st-dallas-tx-75202/" class="interest-name">AT&amp;T 208 S. Akard St Dallas TX 75202</a>
          </li>
          <li>
            <a href="/interest/6156-att-208-s-akard-st-dallas-tx-75202/" class="interest-name">AT&amp;T 208 S. Akard St. Dallas TX 75202</a>
          </li>
          <li>
            <a href="/interest/8031-att-208-s-akard-st-dallas-tx-75202/" class="interest-name">AT&amp;T, 208 S. Akard St., Dallas, TX 75202</a>
          </li>
          <li>
            <a href="/interest/3703-at-t-inc/" class="interest-name">AT &amp; T Inc.</a>
          </li>
          <li>
            <a href="/interest/364-att-inc/" class="interest-name">AT&amp;T Inc</a>
          </li>
          <li>
            <a href="/interest/1-att-inc/" class="interest-name">AT&amp;T Inc.</a>
          </li>
          <li>
            <a href="/interest/1073-att-inc/" class="interest-name">AT&amp;T INC.</a>
          </li>
        </ul>
      </li>
      <li><a href="" class="interest-name">Scrum Corp</a></li>
    </ul>
  </section>

  <section>
    <h2>grid layout</h2>
    <div class="row">
      <div class="cell w-6">

        Use <code>.row</code> to group <code>.cell</code> blocks. Use
        <code>w-&lt;N&gt;</code> to denote how wide you want the cell to be. It
        should add up to 12 or less.

      </div>
      <div class="cell w-6">

        <strong>Limitations:</strong> No offset, and no gutter modification.
        But there is some basic responsive code.

      </div>
    </div>
    <div class="row">
      <div class="cell w-4">
        <code>.cell.w-4</code>
        <img src="http://www.placecage.com/200/50" alt="" width="100%">
      </div>
      <div class="cell w-8">
        <code>.cell.w-8</code>
        <img src="http://www.placecage.com/400/50" alt="" width="100%">
      </div>
    </div>
    <div class="row">
      <div class="cell w-5">
        <code>.cell.w-5</code>
        <img src="http://www.placecage.com/250/50" alt="" width="100%">
      </div>
      <div class="cell w-7">
        <code>.cell.w-7</code>
        <img src="http://www.placecage.com/350/50" alt="" width="100%">
      </div>
    </div>
  </section>

  <section>
    <h2>table</h2>
    <p class="intro">
      To get this table styling, use the <code>.table</code> class. Tables have
      a minimum width because skinny tables don't look good. Zebra stripes for
      readability. Currency is right justified so place values are aligned.
      You can turn off the denomination and enable cents with additional css.
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>A</th>
          <th>Headings<br>Align<br>Bottom</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>3</td>
          <td>{{ 9001|currency }}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>4</td>
          <td>{{ 142.232|currency }}</td>
        </tr>
      </tbody>
    </table>
  </section>

{% endblock %}
