{% extends "tx_lobbying/base.html" %}
{% load intcomma from humanize %}

{% block head_title %}{{ year }}{% endblock %}


{% block main %}
  <section>
    <h2>Top Spenders</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Lobbyist</th>
          <th>Spent</th>
        </tr>
      </thead>
      <tbody>
        {% for object in top_lobbyists %}
          <tr>
            <td><a href="{{ object.lobbyist.get_absolute_url }}">{{ object.lobbyist }}</a></td>
            <td class="currency">${{ object.spent_guess|intcomma }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2>Top Interests</h2>
    <table class="table">
      <thead></thead>
      <tbody>
        {% for object in top_interests %}
          <tr>
            <td><a href="{{ object.interest.get_absolute_url }}">{{ object.interest.name }}</a></td>
            <td class="extrainfo">{{ object.lobbyist_count }}</td>
            <td class="extrainfo">${{ object.low|intcomma }}</td>
            <td class="extrainfo">${{ object.high|intcomma }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
