{% extends "tx_lobbying/base.html" %}
{% load currency from tx_lobbying %}

{% block head_title %}{{ year }}{% endblock %}


{% block main %}
  <section>
    <h2><i class="fa fa-user"></i> Top Spenders</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Lobbyist</th>
          <th>Spent</th>
        </tr>
      </thead>
      <tbody>
        {% for object in top_lobbyists %}
          <tr>
            <td><a href="{{ object.lobbyist.get_absolute_url }}">{{ object.lobbyist }}</a></td>
            <td class="currency">{{ object.spent_guess|currency }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2><i class="fa fa-suitcase"></i> Top Interests</h2>
    {% if top_interests %}
      <table class="table">
        <thead>
          <tr>
            <th>Interest</th>
            <th class="extrainfo">Number of Lobbyists</th>
            <th class="extrainfo">Low</th>
            <th class="extrainfo">High</th>
          </tr>
        </thead>
        <tbody>
          {% for object in top_interests %}
            <tr>
              <td><a href="{{ object.interest.get_absolute_url }}">{{ object.interest.name }}</a></td>
              <td class="extrainfo">{{ object.lobbyist_count }}</td>
              <td class="extrainfo">{{ object.low|currency }}</td>
              <td class="extrainfo">{{ object.high|currency }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>No data available for {{ year }}.</p>
    {% endif %}
  </section>
{% endblock %}
