{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Test</title>
  <link rel="stylesheet" href="{% static 'css/tx_lobbying.css' %}">
</head>
<body class="notebook">
  <div id="breadcrumbs"></div>
  <div id="notebook"></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="{% static 'js/tx_lobbying.js' %}"></script>
</body>
</html>
