// TODO refactor grid to avoid horizontal scrollbar, ok to drop old IE
.row
  +clearfix
  margin-left: $gutter / -2
  margin-right: $gutter / -2

.cell
  box-sizing: border-box
  float: left
  min-height: 1px
  padding-left: $gutter / 2
  padding-right: $gutter / 2
  position: relative

.w-6
  width: 100% / 12 * 6

// wrapper to represent a "page", there can be multiple pages in one html document
.page-content
  position: relative  // offset parent for .placeholder
  overflow-x: auto
  min-height: 300px  // so autocomplete can scroll on very short pages
  white-space: normal  // fix wide content caused scrolling
