.site-nav
  a
    background: darkslategray
    color: powderblue
    direction: inline-block
    font-size: 0.9em
    padding: 0.2em 0.3em
    text-decoration: none
    &:hover
      background: lighten(darkslategray, 5%)

.navbar
  +clearfix
  ul
    padding: 0
  li
    float: left
    list-style: none

  .navbar-right
    float: right


// jquery-ui autocomplete css from scratch
.ui-autocomplete
  background: #bbb
  font-size: 0.85rem
  padding: 0

.ui-menu-item
  list-style: none
  > a
    display: block
    padding: 0.1em

.ui-state-focus
  background: #abc

.ui-helper-hidden-accessible
  display: none
