.currency
  text-align: right
.zero
  visibility: hidden
  .label
    margin-right: 0.1em
  .cents
    display: none

.parenthetical
  // small text that provides extra context, extra info
  font-style: italic
