{% load currency from tx_lobbying %}
<div id="cover-{{ cover.report_id }}" class="coversheet report">
  <h1>
    <a href="{{ cover.get_absolute_url }}">
      Lobby Activites Report
    </a>
  </h1>
  Report Date: {{ cover.report_date|date:"Y-m-d" }}
  How Filed: {{ data.HOWFILED }}
  {% if data.CVR_MEMO %}
    <p>Cover Memo: {{ data.CVR_MEMO }}</p>
  {% endif %}
  {% if data.SUBJ_MEMO %}
    <p>Subject Memo: {{ data.SUBJ_MEMO }}</p>
  {% endif %}
  {% if data.TRAN_MEMO %}
    <p>Transportation &amp; Lodging Memo: {{ data.TRAN_MEMO }}</p>
  {% endif %}
  {% if data.FOOD_MEMO %}
    <p>Food &amp; Beverages Memo: {{ data.FOOD_MEMO }}</p>
  {% endif %}
  {% if data.ENT_MEMO %}
    <p>Entertainment Memo: {{ data.ENT_MEMO }}</p>
  {% endif %}
  {% if data.GIFT_MEMO %}
    <p>Gift Memo: {{ data.GIFT_MEMO }}</p>
  {% endif %}
  {% if data.AWRD_MEMO %}
    <p>Awards &amp; Mementos Memo: {{ data.AWRD_MEMO }}</p>
  {% endif %}
  {% if data.EVNT_MEMO %}
    <p>Political Fundraisers &amp; Charity Events Memo: {{ data.EVNT_MEMO }}</p>
  {% endif %}
  {# 2 Registrant Name #}
  {# 3 #}
  {# 4 #}
  <h2>Report Type</h2>
  <input type="checkbox" disabled {% if data.RT_REG_CB %}checked{% endif %}>
  Regular (Monthy)
  <input type="checkbox" disabled {% if data.RT_MOD_CB %}checked{% endif %}>
  Modified (Annual)
  <input type="checkbox" disabled {% if data.RT_1K_CB %}checked{% endif %}>
  Exceeded $1000
  <input type="checkbox" disabled {% if data.RT_FIN_CB %}checked{% endif %}>
  Final
  {# 5 #}
  <h2>Report Deadline</h2>
  Due Date: {{ data.DUE_DATE }}
  {# 6 #}
  <h2>Period Covered</h2>
  {{ data.RPT_BEG_DT }}
  through
  {{ data.RPT_END_DT }}
  {# 7 #}
  <h2>Expenditure Totals by Type</h2>
  Total: {{ cover.total_spent|currency }}
  <div class="totals">
    <div class="category">
      <span class="label">Transportation &amp; Lodging</span>
      <span class="value">{{ cover.transportation|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Food &amp; Beverages</span>
      <span class="value">{{ cover.food|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Entertainment</span>
      <span class="value">{{ cover.entertainment|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Gifts (other than awards & mementos)</span>
      <span class="value">{{ cover.gifts|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Awards &amp; Mementos</span>
      <span class="value">{{ cover.awards|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Political Fundraisers/Charity Events</span>
      <span class="value">{{ cover.events|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Mass Media Communications</span>
      <span class="value">{{ cover.media|currency }}</span>
    </div>
  </div>
  <h2>Expenditure Totals by Persons Benefitted{# sic #}</h2>
  Total: {{ cover.total_benefited|currency }}
  <div class="totals">
    <div class="category">
      <span class="label">State Senators</span>
      <span class="value">{{ cover.ben_senators|currency }}</span>
    </div>
    <div class="category">
      <span class="label">State Representatives</span>
      <span class="value">{{ cover.ben_representatives|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Other Elected/Appointed State Officers</span>
      <span class="value">{{ cover.ben_other|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Legislative Branch Employees</span>
      <span class="value">{{ cover.ben_legislative|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Executive Agency Employees</span>
      <span class="value">{{ cover.ben_executive|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Immediate Family of Legislative/Executive Branch Member</span>
      <span class="value">{{ cover.ben_family|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Events to Which All Legislators Are Invited</span>
      <span class="value">{{ cover.ben_events|currency }}</span>
    </div>
    <div class="category">
      <span class="label">Guests</span>
      <span class="value">{{ cover.ben_guests|currency }}</span>
    </div>
  </div>
  <div>
    <h2>Subject Matter Categories</h2>
    {% if cover.subjects.correction %}
      {{ data.CORR_NUM }} -
      {{ cover.subjects.correction }} -
      {{ data.CORR_EXPL }}
    {% endif %}
    <ul>
      {% for subject in cover.subjects.set.all %}
        <li>
          {{ subject }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
