<ul>
  {% for interest in object_list %}
    <li>
      {% if interest.canonical %}
        <a href="{{ interest.canonical.get_absolute_url }}" class="interest-name">{{ interest.canonical.name }}</a>
        <small class="parenthetical">
          aka
          <a href="{{ interest.get_absolute_url }}" class="interest-name">{{ interest.name }}</a>
        </small>
      {% else %}
        <a href="{{ interest.get_absolute_url }}" class="interest-name">{{ interest.name }}</a>
      {% endif %}
    </li>
  {% empty %}
    <li><em>None</em></li>
  {% endfor %}
</ul>
